* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}



header {
    background-color: #FFD6BA; 
    padding: 10px 0;
    margin-bottom: 0px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 100px;
    margin-top: 5px;
    
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links ul li {
    display: inline-block;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-links select {
    padding: 5px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Menu Icon */
.nav-toggle {
  display: none; 
}

.menu-icon {
  display: none; 
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.menu-icon .bar {
  width: 30px;
  height: 3px;
  background-color: #ff6600;
  transition: all 0.3s ease; 
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .menu-icon {
    display: flex; 
  }

  .nav-links {
    position: absolute;
    top: 75px; 
    left: 0;
    width: 100%;
    background-color: #ff6600;
    display: none; 
    align-items: center;
    padding: 40px ;
  }

  .nav-toggle:checked + .menu-icon .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); /* Top bar to X */
  }

  .nav-toggle:checked + .menu-icon .bar:nth-child(2) {
    opacity: 0; /* Hide middle bar */
  }

  .nav-toggle:checked + .menu-icon .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /* Bottom bar to X */
  }

  .nav-toggle:checked ~ .nav-links {
    display: flex; 
  }

  .nav-links ul {
    flex-direction: column; 
    width: 100%;
  }

  .nav-links ul li {
    margin: 15px 0; 
    width: 100%;
    text-align: center; 
  }


}



/*   banner  */


.banner {
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  border-radius: 15px;
  margin: 15px;
}


.banner-options{
  display: inline-block;
  background-color: white;
  border-radius: 15px 15px 0 0;
  
  
}


.flight-option{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px 15px 0 0;
  padding: 9px 10px;

  
}

.booking-form {
  display: flex;
  gap: 10px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 15px 15px 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 220px;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus {
  border-color: #ff6600;
  box-shadow: 0 0 10px rgba(255, 102, 0, 0.1);
  outline: none;
}

.search-btn {
  padding: 0 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ff6600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-btn:hover {
  background-color: #e65c00;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* Media Query for Small Screens */
  @media (max-width: 768px) {
  .booking-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 20px;
  }

  .form-group {
    max-width: 100%;
  }

  .search-btn {
    grid-column: span 2; 
    width: 100%;
    padding: 10px;
  }
}


/* Travel Tips section */
.travel-tips {
    padding: 50px 0;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.travel-tips h2 {
    margin-bottom: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: start;
    margin: 30px;
}

.tips-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tip {
    width: 270px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: left;
}

.tip h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.tip p {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.tip .read-more {
    font-weight: bold;
    color: #1e90ff;
    text-decoration: none;
}

/*  Booking Cards */
.booking-card {
  padding: 50px 0;
  text-align: center;
  border-radius: 15px;
  margin: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-card h2 {
  margin-bottom: 30px;
  font-size: 30px;
  display: flex;
  flex-direction: start;
  margin: 30px;
}

.booking-card-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.booking {
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
}

.booking-image-container {
    position: relative;
    overflow: hidden; 
}

.booking img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease; 
}

.booking-image-container:hover img {
    transform: scale(1.1);
  

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    }

.booking-image-container:hover .overlay {
    opacity: 1; 
}

.booking h3 {
  margin: 15px 0;
  font-size: 22px;
  color: white;
}

.booking-button {
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-button:hover {
    background-color: #e65c00; 
    
}



.booking p {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

button {
    width: 60%;
    padding: 10px;
  }



/* Media Query for Small Screens */
@media (max-width: 768px) {
  .booking-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 10px;
  }

  .booking {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    width: 60%;
    padding: 10px;
  }
}

/*  off.  */


.offer{
    background-image: url('../assets/offers.jpg');
    height: 20vh;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    
    
    .offer {
      height: 35vh;
      padding: 50px 0;
      border-radius: 15px;
      margin: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      position: relative;
    }

}


/* Special Insights section */
.insights {
    padding: 50px 0;
    text-align: center;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.insights h2 {
    margin-bottom: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: start;
    margin: 30px;
}

.insights-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.insight {
    width: 300px;
    text-align: center;
    margin-bottom: 30px;
}

.insight img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.insight h3 {
    margin: 15px 0;
    font-size: 22px;
    color: #333;
}

.insight p {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}

.insight .read-more {
    text-decoration: none;
    font-weight: bold;
    color: #1e90ff;
    margin-top: 10px;
}

/*   offers.  */

.offers{
    background-color:  #FFD6BA;
    height: 18vh;
    padding: 50px 0;
    text-align: center;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}



.airplane {
    position: absolute;
    width: 900px;
    height: 420px;
    background: url('../assets/airplane.png') no-repeat;
    background-size: contain;
    left: -150px; 
    animation: flyAcross 12s linear infinite;
}

@keyframes flyAcross {
    0% {
        left: -200px;
        transform: rotate(15deg); 
    }
    25% {
        transform: rotate(-2deg); 
    }
    50% {
        transform: rotate(-2deg); 
    }
    100% {
        left: 110%;
        transform: rotate(0deg); 
    }
}

/* Media Query for Small Screens */

@media (max-width: 768px) {
    .airplane {
        width: 550px;
        height: 250px;
        left: -70px;
    }
    
    .offers {
      background-color: #FFD6BA;
      height: 29vh;
      padding: 50px 0;
      text-align: center;
      border-radius: 15px;
      margin: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      position: relative;
    }


    @keyframes flyAcross {
        0% {
            left: -120px;
            transform: rotate(3deg);
        }
        100% {
            left: 110%;
            transform: rotate(1deg); 
        }
    }
}



/* faq */


.faq-container {
    max-width: 1200px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #333;
}

details {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: start;
    color: #777;
}

details summary {
    font-size: 14px;
    cursor: pointer;
    color: #777;
    font-weight: normal;
}

details summary:hover {
    color: #ff6600;
}

details p {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

/*  faq  small screen  */

@media (max-width: 768px) { 
  
  .faq-container {
    max-width: 1200px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

details {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: start;
    color: #777;
}

details summary {
    font-size: 16px;
    cursor: pointer;
    color: #777;
    font-weight: normal;
}

details summary:hover {
    color: #ff6600;
}

details p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

  
  
}


/* Newsletter Signup section */
.newsletter {
  padding: 50px 0;
   background-color: white;

    text-align: center;
    color: black;
}

.newsletter h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.newsletter p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #777;
}

.newsletter form {
    display: flex;
    justify-content: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    
}

.newsletter button {
    max-width: 85px;
    padding: 10px 5px;
    background-color: #ff6600;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #e03e00;
}

/* Footer section */
footer {
    padding: 20px 0;
    background-color: #333;
    text-align: center;
    color: white;
    
}

footer p {
    font-size: 14px;
}


/*   support and help pages */

#support, #help {
    background-color: #f4f4f4; 
    padding: 20px; 
    margin: 20px auto; 
    border-radius: 8px;
    max-width: 800px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.support h1, .help h1 {
    margin: 50px 0 70px 0;
    text-align: center;
    font-size: 25px;
}

.support h2, .help h2 {
    font-family: 'Arial', sans-serif; 
    color: #333; 
    text-align: start;
    font-size: 20px; 
    margin-bottom: 10px; 
}

.support p, .help p {
    font-family: 'Verdana', sans-serif; 
    color: #555; 
    line-height: 1.6; 
    text-align: justify;
    margin-bottom: 20px; 
    font-size: 16px;
}

hr {
    border: none; 
    border-top: 2px solid #ccc; 
    width: 80%; 
    margin: 20px auto; 
}


/*  small screen  support and help pages */

@media (max-width: 768px) {
#support, #help {
    background-color: #f4f4f4; 
    padding: 20px; 
    margin: 20px auto; 
    border-radius: 8px;
    max-width: 800px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.support h1, .help h1 {
    margin: 50px 0 70px 0;
    text-align: center;
    font-size: 30px;
}

.support h2, .help h2 {
    font-family: 'Arial', sans-serif; 
    color: #333; 
    text-align: start;
    font-size: 20px; 
    margin-bottom: 10px; 
}

.support p, .help p {
    font-family: 'Verdana', sans-serif; 
    color: #555; 
    line-height: 1.6; 
    text-align: justify;
    margin-bottom: 20px; 
    font-size: 16px;
}

hr {
    border: none; 
    border-top: 2px solid #ccc; 
    width: 80%; 
    margin: 20px auto; 
}


footer p {
    font-size: 12px;
}


}



